@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: neu;
  src: url(/src/assets/fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(/src/assests/fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(/src/assests/fonts/NeueHaasDisplayRoman.ttf);
}


*{
  font-family: 'neu';
}

::selection{
  color: rgb(250, 190, 86);
}